<!-- <p>You can pass an existing component as content of the modal window. In this case remember to add content component
    as an <code>entryComponents</code> section of your <code>NgModule</code>.</p>
    
    <button class="btn btn-lg btn-outline-primary" (click)="open()">Launch demo modal</button>


<button type="button" class="btn btn-outline-success">Add book</button>

<button class="btn btn-lg btn-outline-primary" (click)="open()">Launch demo modal</button> -->

<div class="card" style="width: 18rem;">
  <img src="..." class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">Card title</h5>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    <a href="#" class="btn btn-primary">Go somewhere</a>
  </div>
</div>


<!-- 
<h5>6. ng-bootstrap Modal Demo</h5>  


<popup-book *ngIf="showModal"></popup-book>


<button (click)="showModal(content)">Show Bootstrap Modal</button>  
<hr>   -->

<button class="btn btn-lg btn-outline-primary" (click)="openPrimary(content)">Add new book</button>